<?xml version="1.0" encoding="UTF-8"?>
<!--
    Thomas Athanasiou at Hippiemonkeys
    Copyright (c) 2022 Hippiemonkeys (https://hippiemonkeys.com)
    Hippiemonkeys_ShippingTrackAdvanced
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hippiemonkeys_shipping>
            <track>
                <cronjob_active>1</cronjob_active>
                <cronjob_processshipment_limit>10</cronjob_processshipment_limit>
                <cronjob_processshipment_status_ids></cronjob_processshipment_status_ids>
            </track>
        </hippiemonkeys_shipping>
    </default>
</config>