<?xml version="1.0" encoding="UTF-8"?>
<!--
    Thomas Athanasiou at Hippiemonkeys
    Copyright (c) 2022 Hippiemonkeys (https://hippiemonkeys.com)
    Hippiemonkeys_ShippingTrackCronjob
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Hippiemonkeys\Shipping\Helper\Config\Section\Group\TrackCronjob" type="Hippiemonkeys\Core\Helper\Config\Section\Group\Sub">
        <arguments>
            <argument name="section" xsi:type="string">hippiemonkeys_shipping</argument>
            <argument name="group" xsi:type="string">track</argument>
            <argument name="activeField" xsi:type="string">cronjob_active</argument>
            <argument name="parentConfig" xsi:type="object">Hippiemonkeys\Shipping\Helper\Config\Section\Group\Track</argument>
        </arguments>
    </virtualType>

    <!-- Shipment Tracks-->
    <virtualType name="Hippiemonkeys\Shipping\Helper\Config\Section\Group\TrackCronjobShipmentTracks" type="Hippiemonkeys\Core\Helper\Config\Section\Group\Sub">
        <arguments>
            <argument name="section" xsi:type="string">hippiemonkeys_shipping</argument>
            <argument name="group" xsi:type="string">track</argument>
            <argument name="activeField" xsi:type="string">cronjob_active</argument>
            <argument name="parentConfig" xsi:type="object">Hippiemonkeys\Shipping\Helper\Config\Section\Group\TrackCronjob</argument>
        </arguments>
    </virtualType>
    <type name="Hippiemonkeys\ShippingTrackCronjob\Cron\UpdateShipmentTracks">
        <arguments>
            <argument name="config" xsi:type="object">Hippiemonkeys\Shipping\Helper\Config\Section\Group\TrackCronjobShipmentTracks</argument>
        </arguments>
    </type>
    <type name="Hippiemonkeys\ShippingTrackCronjob\Cron\UpdateStatelessShipmentTracks">
        <arguments>
            <argument name="config" xsi:type="object">Hippiemonkeys\Shipping\Helper\Config\Section\Group\TrackCronjobShipmentTracks</argument>
        </arguments>
    </type>

    <!-- Pickup Locations-->
    <virtualType name="Hippiemonkeys\Shipping\Helper\Config\Section\Group\TrackCronjobPickupLocations" type="Hippiemonkeys\Core\Helper\Config\Section\Group\Sub">
        <arguments>
            <argument name="section" xsi:type="string">hippiemonkeys_shipping</argument>
            <argument name="group" xsi:type="string">track</argument>
            <argument name="activeField" xsi:type="string">cronjob_active</argument>
            <argument name="parentConfig" xsi:type="object">Hippiemonkeys\Shipping\Helper\Config\Section\Group\TrackCronjob</argument>
        </arguments>
    </virtualType>
    <type name="Hippiemonkeys\ShippingTrackCronjob\Cron\UpdatePickupLocations">
        <arguments>
            <argument name="config" xsi:type="object">Hippiemonkeys\Shipping\Helper\Config\Section\Group\TrackCronjobPickupLocations</argument>
        </arguments>
    </type>
</config>